# Temporary and binary files
bulog.py
pdf_print.py
.vscode
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.zip
*.pot
__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*
.DS_Store
.coveragerc
*.csv
*.xls
*.xlsx
*.ldb
*.mdb
*.dzs
*.ipynb
*.ipynb_checkpoints
*.twb
*.txt
*.log
!requirements.txt
*archives
#Project files
.ropeproject
.project
.pydevproject
.settings
.idea
tags
.coveragerc
.vscode
*_env
# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.tox
junit.xml
coverage.xml
.pytest_cache/

# Build and docs folder/files
logs/*
build/*
dist/*
sdist/*
docs/api/*
docs/_rst/*
docs/_build/*
cover/*
MANIFEST
spp_csv_download.py


# Per-project virtualenvs
.venv*/
venv*/